.container {
  margin-top: 50px;
}
.product-wrapper {
  height: 350px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  img {
    align-self: center;
    width: 160px;
    height: 220px;
    transition: all 0.2s;
  }
  img:hover {
    transform: scale(1.03);
    transition: all 0.2s;
  }
}

.info-wrapper {
  margin: 20px 0 10px 0;
  line-height: 15px;
}
.info-text {
  font-size: 12px;
  color: #0c0c0c;
}
.price-wrapper {
  margin-top: auto;
}
.price span {
  font-weight: bold;
  font-size: 16px;
}
